/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* better box model */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* General Styles */

body {
  height: 100%;
  margin: 0;
  background-color: #fefefc;
  position: relative;
}

h1 {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 55px;
  color: #000000;
  letter-spacing: 0.45px;
}

h2 {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 32px;
  color: #000000;
  letter-spacing: 0.45px;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.16px;
}

h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.55px;
  line-height: 1.8em;
}

p {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.72px;
  line-height: 1.3em;
}

a {
  color: #000;
  cursor: pointer;
}

.center {
  text-align: center;
}

.no-underline {
  text-decoration: none;
}

#return-to-top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background: #000;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1000;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 9px;
  font-size: 28px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: #ffea00;
}
#return-to-top:hover i {
  color: #000;
  top: 5px;
}

/* Site-Specific Styles */

.container {
  margin-left: 15px;
  margin-right: 15px;
}

/* Nav */

nav {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

nav a {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

nav a:hover {
  opacity: 0.4;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.work-link {
  margin-right: 30px;
}

.about-link {
  margin-right: 30px;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 260px);
}

.header-text {
  padding-top: 20vh;
}

.highlight {
  background-color: #ffea00;
}

.header-subtext {
  padding-top: 10vh;
}

.arrow-down {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Work */
.work {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  width: 100vw;
  height: auto;
  margin-bottom: 80px;
}

.project img {
  width: 100%;
  height: auto;
  background-color: #e2e2e2;
  -webkit-transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.project img:hover {
  -webkit-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.project h4 {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.project h4:hover {
  opacity: 0.4;
}

/* Home */

.home-footer {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-footer a {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.home-footer a:hover {
  opacity: 0.4;
}

.lets-talk {
  background-color: #ffea00;
}

.social {
  margin-top: 60px;
  margin-bottom: 30px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.social-home {
  margin-top: 60px;
  margin-bottom: 30px;
}

/* Project Page */
.project-page-title {
  padding-top: 30vh;
}

.project-page-subtext {
  width: 50vw;
  padding-top: 30px;
  padding-bottom: 60px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.content-img {
  margin-bottom: 20px;
}

.content-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.content-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-half-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.content-half-img {
  width: 100%;
  height: auto;
}

.content-half-text {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 20px;
}

.content-background-info {
  display: flex;
}

.content-background-info p {
  line-height: 1.6em;
}

.client {
  padding-right: 60px;
}

.project-footer {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-footer a {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.project-footer a:hover {
  opacity: 0.6;
}

.project-footer-background {
  background-color: #ffea00;
  height: 140px;
  width: 100%;
  position: absolute;
  z-index: -100;
  bottom: 0;
}

/* About */
.about {
  padding-top: 20vh;
}

.about-text {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

/* Contact */
.contact {
  padding-top: 20vh;
}

.contact-email {
  padding-bottom: 60px;
}

.contact h1 {
  padding-bottom: 40px;
}

.contact h2 {
  line-height: 1.3em;
}

.contact a {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.contact a:hover {
  opacity: 0.4;
}

/* Common Classes */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Media Queries */

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 108px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }

  .container {
    margin-left: 60px;
    margin-right: 60px;
  }

  .project {
    width: calc(50vw - 95px);
    margin-bottom: 120px;
  }

  .project-footer-background {
    height: 180px;
  }

  .content-img {
    margin-bottom: 60px;
  }

  .content-video {
    margin-bottom: 60px;
  }

  .content-half-half {
    flex-direction: row;
  }

  .content-half-img {
    width: 50%;
  }

  .content-half-text {
    width: 50%;
    padding-right: 10%;
    text-align: left;
    margin-bottom: 0;
  }

  .about-text {
    width: 50vw;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 1600px) {
  .project {
    width: calc(33vw - 75px);
    margin-bottom: 80px;
  }
}
