/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    color: #fff;
  }

html, body {
    scroll-behavior: smooth;
}

body {
    background: #121212;
}

.fixed-position {
    overflow: hidden;
}
  
/* Type and color styles */
h1 {
    font-family: PPObjectSans-Regular, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.308px;
}

h2 {
    font-family: PPObjectSans-Regular, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

p{
    font-family: PPObjectSans-Regular, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    color: #FFF;
    font-family: PP Object Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.396px;
    list-style-type: none;
}

li:not(:last-child) {
    margin-bottom: 32px;
}

li > a {
    transition: color .4s;
}

li > a:hover {
    color: #FAFF03;
}

.white {
    color: #fff;
}

.yellow {
    color:#FAFF03;
}

.grey {
    color: #fff;
    opacity: 0.6;
}

/* Nav */
#navMain {
    transition: top .4s;
}

header {
    width: 100%;
    height: 68px;
    position: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari */
    background: rgba(0, 0, 0, .8);
    z-index: 1;
    transition: height .2s;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 1;
  }

.banner-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 24px;
}

.bc-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.bc-icon {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

#navList {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 68px;
    left: 0;
    padding: 32px 56px;
}


/* Top Info */
.top-info{
    margin: 0 auto;
    display: flex;
    max-width: 1600px;
    padding: 48px 24px;
    justify-content: space-between;
    align-items: flex-start;
}

.info-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    min-width: 320px;
    max-width: 480px;
    padding: 24px;
}

.info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 24px;
    min-width: 240px;
}

.info-right a {
    transition: color .4s;
}

.info-right a:hover {
    color: yellow;
}

.top-info img{
    height: 80px;
    width: 80px;
}

/* Work */
.work {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.two-up {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.half {
    display: flex;
    width: 50%;
    aspect-ratio: 3/4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.half img {
    width: 100%;
    height: 100%;
}

.half video {
    width: 100%;
    height: 100%;
}

.one-up {
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
}

.one-up img {
    width: 100%;
    height: 100%;
}

.one-up video {
    width: 100%;
    height: 100%;
}

/* Breakpoints */
@media only screen and (max-width: 768px) {
    li {
        font-size: 24px;
    }

    li:not(:last-child) {
        margin-bottom: 24px;
    }

    .top-info{
        display: flex;
        padding: 48px 24px;
        gap: 64px;
        flex-direction: column;
        align-items: flex-start;
    }

    .info-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        min-width: 0px;
        padding: 0px;
    }

    .info-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
        padding: 0px;
    }
}